{% extends 'benart/layout.html' %}

{%block content%}

                <p>Enter details and message below to Contact ben Hawkins</p>
                <form action="submit_email" method="POST">
                    <table>
                        <tr>
                            <td><p>Full Name:</p></td>
                            <td> <input type="text" name="name" style="width: 280px; height: 30px;"></td>
                        </tr>
                        <tr>
                            <td><p>Email Address:</p></td>
                            <td><input id="email" type="text" name="email" style="width: 280px; height: 30px;"></td>
                        </tr>
                    </table>
                    <p>Message:</p>
                     <textarea rows="10" cols="50">Enter message here!</textarea>
                    <input type="submit" value="Send Message">
                </form>
{%endblock %}
           