{% extends 'benart/layout.html' %}

{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'benart/css/contact_style.css' %}" />
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
                <p>Please Login Below</p>
                <form action="validate_login" method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td><p>Email address:</p></td>
                            <td> <input type="text" name="email" style="width: 260px; height: 30px;"></td>
                        </tr>
                        <tr>
                            <td><p>password:</p></td>
                            <td><input id="email" type="password" name="password" style="width: 260px; height: 30px;"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Log In" id="submit">
                    <br>
                    <a href="registration">not a member? click here to register</a>
                </form>
    
{%endblock%}